<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
		{{#if devoured}}{{burger_name}}{{else}}{{burger_name}}{{/if}}
		
	</button>
	{{#unless devoured}}
		<button class="devour-burger" data-id="{{this.id}}">Devour!</button>
	{{/unless}}
</li>
